.menu li a:hover{
    background: #403A40; 
    color:#fff;
    z-index: 100;
    border-radius: 8%;
    }

.menu li  div{
    position:absolute; 
    background-color:#293A40; 
    display:none;
    border-radius: 8%;
    width: 8em;
    }  

.menu li:hover div, .menu li.over div{
    display:block;

}

.menu li section{
    position:absolute; 
    background-color:#293A40; 
    display:none;
    border-radius: 8%;
    width: 8em;
    margin-left:-5% ;
    }  

.menu li:hover section, .menu li.over section{
    display:block;

}