    body{
      min-height: 100vh;
    }
   

    h1{
        font-family: 'Maven Pro', sans-serif;
        font-weight: 900;
        font-size: 4em;
    }

    .bord {
        border-top-left-radius: 0.25rem ;
        border-bottom-left-radius: 0.25rem ;
      }

    .redondo {
      font-family: 'Maven Pro', sans-serif;
      font-size: 14px;
      background: #895696;
      display: inline-block;
      padding: 16px 38px;
      border: 2px solid transparent;
      border-radius: 40px;
      color: #fff;
      text-decoration: none;
    }
    .redondo:hover{
      color:rgb(224, 215, 215);
    }

    .text-roxo{
      color: #441364;
    }
 
    .espaco{
      margin-left: 2em;  
}

    .rodape{
    position: absolute;
    bottom: auto;
    }

    /*menu*/
    .menu li a:hover{
    background: #403A40; 
    color:#fff;
    border-radius: 3%;
    }

    .menu li  div{
      background-color:#293A40; 
      display:none;
      border-radius: 3%;
      width: 8.25em;
      } 
      .Z-index{
        position: absolute;
        z-index: 100; 
      }

      .font-maven{
        font-family: 'Maven Pro', sans-serif;
        font-weight: 900;
        font-size: 2em;
      }

      .title{
        font-family: 'monospace';
        font-weight:500;
      }

      h3{
        font-family: 'Maven Pro', sans-serif;
        font-weight:800;
      }

    
  
